*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# APKs
*.apk
app/release/

server/build/
.kotlin/
/.idea/appInsightsSettings.xml
/.idea/deviceManager.xml
/.idea/deploymentTargetSelector.xml
/.idea/studiobot.xml
/.idea/markdown.xml
/.idea/AndroidProjectSystem.xml
/.idea/shelf/
*.hprof
*.log